<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        function show() {
            // Get the checkbox
            var checkBox = document.getElementById("check");
            var div = document.getElementById("neg");

            if (checkBox.checked == true){
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }
    </script>
    <title>Registrazione</title>
</head>
<body>
    <div class="container">
        <a class="btn btn-outline-primary" href="http://localhost:8080/login">Indietro</a> <br/>

        <div class="alert alert-danger" th:if="${testo}!=null" th:text="${testo}"/>
        
        <form action='#' th:action="@{/register}" method="post" >
            <div class="mb-3">
                <label class="form-label" for="username">Username:</label> 
                <input class="form-control" id="username" type='text' name="username" required/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="password">Password:</label> 
                <input class="form-control" id="password" type='password' name="password" required/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="nome">Nome:</label> 
                <input class="form-control" id="nome" type='text' name="nome" required/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="cognome">Cognome:</label> 
                <input class="form-control" id="cognome" type='text' name="cognome" required/>
            </div>

            <div class="form-check">
                <input class="form-check-input" id="check" type="checkbox", name="check" onclick="show()"/>
                <label class="form-check-label" for="check">Negoziante</label> 
            </div>

            <div class="mb-3" id="neg" style="display: none;">
                <label class="form-label" for="negozio">Nome negozio:</label>
                <input class="form-control" id="negozio" type="text" name="negozio"/>
            </div>

            <input class="btn btn-primary" type="submit" value="Registrati"/> 
        </form>
    </div>
</body>
</html>